# Logs
cosden-composition/logs
cosden-composition/*.log
cosden-composition/npm-debug.log*
cosden-composition/yarn-debug.log*
cosden-composition/yarn-error.log*
cosden-composition/pnpm-debug.log*
cosden-composition/lerna-debug.log*

cosden-composition/node_modules
cosden-composition/dist
cosden-composition/dist-ssr
cosden-composition/*.local

# Editor directories and files
cosden-composition/.vscode/*
cosden-composition/!.vscode/extensions.json
cosden-composition/.idea
cosden-composition/.DS_Store
cosden-composition/*.suo
cosden-composition/*.ntvs*
cosden-composition/*.njsproj
cosden-composition/*.sln
cosden-composition/*.sw?


rocketseat-composition/logs
rocketseat-composition/*.log
rocketseat-composition/npm-debug.log*
rocketseat-composition/yarn-debug.log*
rocketseat-composition/yarn-error.log*
rocketseat-composition/pnpm-debug.log*
rocketseat-composition/lerna-debug.log*

rocketseat-composition/node_modules
rocketseat-composition/dist
rocketseat-composition/dist-ssr
rocketseat-composition/*.local

# Editor directories and files
rocketseat-composition/.vscode/*
rocketseat-composition/!.vscode/extensions.json
rocketseat-composition/.idea
rocketseat-composition/.DS_Store
rocketseat-composition/*.suo
rocketseat-composition/*.ntvs*
rocketseat-composition/*.njsproj
rocketseat-composition/*.sln
rocketseat-composition/*.sw?

